html, body, .grid-container { 
  height: 100%; 
  margin: 0; 
  padding:0;
  font-family: sans-serif;
  }

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 60px 300px 302.4px 60px;
  gap: 5px 6px;
  grid-template-areas:
    "NavBar NavBar NavBar NavBar"
    "threehunderedblankets threehunderedblankets SoulKitchen SoulKitchen"
    "Description DesText DesText DesText"
    "Footer Footer Footer Footer";
}

NavBar { grid-area: NavBar; }
NavBar .navi { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  min-height: 12vh;
  min-width: 100%;
  background: #F3F6F4;
}

NavBar .navi .logo{
  margin-left: 20px;
}

NavBar .navi .navlist {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 45%;
  margin: auto 20px auto 0;
}

NavBar .navi .MenuIcon {
  margin-right: 20px;
  display: none;
 }
 
NavBar .navi .MenuIcon .line{
  width: 40px;
  height: 3px;
  margin: 5px;
  background: #334E58;
 }

NavBar .navi .navlist li a {
  color: #334E58;
  text-decoration: none;
  font-size: 15px;
  padding: 2px;
  text-transform: uppercase;
  cursor: pointer;
  transition: color 1s ease, 1s ease;
}

NavBar .navi .navlist :hover{
  background-color: #4381C1;
  color: white;
}
/*Object-fit: Cover to keep the image in the grid without distortion*/
.cover {object-fit: cover;}

ThreeHunderedBlankets { grid-area: threehunderedblankets;  background-color: #F3F6F4;
font-color: #F3F6F4;
position: relative;
}


.image {
  display: block;
  width: 100%;
  height: auto;
  opacity: 1;
  transition: 0.5 ease-in;
  backface-visibility: hidden;
}

.centered{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  font-weight: 900;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.middle{
  transition: 0.5s ease-in;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

ThreeHunderedBlankets :hover {
transition: opacity 1s ease, color 1s ease;
 opacity: 0.5;
 color:black;
}
ThreeHunderedBlankets:hover .overlay {
  opacity: 0.8;
}

ThreeHunderedBlankets :hover .middle {
  opacit
}
.text {
  color: white;
 font-size: 40px;
  font-weight: 900;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}



SoulKitchen { grid-area: SoulKitchen;  background-color: #F3F6F4; font-color: #F3F6F4;
position: relative;}


.Scentered{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  font-weight: 900;
}

.Soverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

SoulKitchen :hover {
transition: opacity 1s ease, color 1s ease;
 opacity: 0.5;
 color:black;
}
SoulKitchen:hover .Soverlay {
  opacity: 0.8;
}

Description
{grid-area: Description;  background-color: #F3F6F4;}

DesText { grid-area: DesText; background-color: #F3F6F4;
}
/*To make the video responsive*/
.videoWrapper{
  position: relative;
  padding-bottom: 56.25%;
  width:50%
  height: 0;
}
.videoWrapper iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.subtitle {
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-style: italic;
  font-weight: 400;
  text-align: center;
  color: #334E58;
}
.description {
  font-size: 13px;
  margin-top: 25px;
  font-size: none;
  text-align: left;
  color: #334E58;
  margin-left: 10px;
}

Footer { grid-area: Footer;  background-color: green}

/* Large Mobile :480px. */

@media only screen and (max-width: 767px) {

  NavBar .navi .navlist {
    position: absolute;
    top: 12vh;
    min-width: 100%;
    background: rgba(15, 20, 35, 0.99);
    text-align: center;
    display: none;
  }

  NavBar .navi .navlist li {
    display: block;
  }

  NavBar .navi .navlist li a {
    display: block;
    padding: 20px;
    transition: color 1s ease, padding 1s ease, background-color 1s ease;

  }

  NavBar .navi .navlist li a:hover{
    color: #b1d4e0;
    padding-left: 30px;
    background: rgba(177, 212, 224, 0.2);
  }


  NavBar .navi .MenuIcon{
    display: block;
  }
}
@media only screen and (max-width: 460px) {
  .grid-container{
    display:block;
  }
  NavBar,
  ThreeHunderedBlankets,
  SoulKitchen,
  Description,
  Footer{
    width: 100%;
    min-height: 200px;
  }
}
